html {
    background-color: black;
}

h1 {
    color: white;
}

a:visited {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(136, 130, 130);
    font-family: monospace;
}

.imagem-container {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 1cm;
    background-image: url('troll.gif');
    background-size: 100px 100px;
}

.imagem-container:hover {
    background-image: url('trull.gif');
    background-size: 100px 100px;
}

#troll {
    width: 100px;
}

.links {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    margin-left: 300px;
    margin-right: 300px;
    border: 2px solid white;
}

#links-grid {
    padding: 3px;
    text-align: center;
    display: block;
}

#links-grid:active {
    background-color: white;
    transition: .1s ease-out; 
    transform: scale(1.3);
    margin-left: 100px;
    margin-right: 100px;
}

#links-grid:hover {
    background-color: white;
    color: black;
    transition: cubic-bezier(.73,1.51,.83,.67) .2s;
}

.texto {
    margin-top: -30px;
    margin-left: 320px;
    margin-right: 349px;
    color: gray;
    font-family: monospace;
    margin-bottom: 30px;
}

.texto2 {
	margin-top: 370px;
    display: flex;
	margin-left: 0px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
	color: white;
}

.texto3 {
	margin-top: 0px;
    display: flex;
	margin-left: 0px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
	color: white;
}

